# Build artifacts
target/
test-output/
reports/
logs/
*.log

# IDE files
.idea/
*.iml
.vscode/

# JMeter
jmeter/bin/
jmeter/results/
jmeter/reports/
*.jtl
*.log
*.zip

# Allure
.allure/
allure-results/
allure-report/

# OS junk
.DS_Store
Thumbs.db

# Java compiled
*.class

# Temporary
*.tmp
